/**********************
DEFAULT
***********************/

body {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #8e8e8e;
	letter-spacing: -0.025em;
}

section {
	position: relative;
	padding: 120px 0;
}

section .title {
	text-align: center;
}

section .subtitle {
	margin-top: 30px;
	text-align: center;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	display: block;
	margin: 0;
}

h1, .h1 {
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 0.05em;
}

h2, .h2 {
	font-size: 25px;
}

h3, .h3 {
	font-size: 15px;
}

a,
a:active,
a:focus,
a:hover,
a:visited {
	color: inherit;
	text-decoration: none;
}

.chevron-down {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 40px;
	height: 40px;
}

.chevron-down .icon {
	position: absolute;
	bottom: 0;
}

.chevron-down:hover .icon {
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% { bottom: 0; }
	40% { bottom: 20px; }
	60% { bottom: 10px; }
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% { bottom: 0; }
	40% { bottom: 20px; }
	60% { bottom: 10px; }
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% { bottom: 0; }
	40% { bottom: 20px; }
	60% { bottom: 10px; }
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% { bottom: 0; }
	40% { bottom: 20px; }
	60% { bottom: 10px; }
}

/**********************
HOME SECTION
***********************/

.home {
	height: 100vh;
	min-height: 568px;
	max-height: 1050px;
	background: linear-gradient( rgba(19, 19, 22, 0.5), rgba(19, 19, 22, 0.5)), url('../img/header_bg.jpg');
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
}

.home .logo {
	width: 90px;
	margin: 0 auto;
}

.home .h3 {
	text-align: center;
	margin-top: 55px;
}

.home .h1 {
	text-align: center;
	margin-top: 50px;
}

.home .button {
	position: relative;
	display: block;
	width: 232px;
	margin: 115px auto 0;
	padding: 20px 0 19px;
	background: transparent;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #ffe600;
	outline: none;
	-webkit-transform: perspective(1px) translateZ(0);
	-moz-transform: perspective(1px) translateZ(0);
	-ms-transform: perspective(1px) translateZ(0);
	-o-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}

.home .button:before {
	content: " ";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ffe600;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: transform 0.3s ease-in-out;
	-moz-transition: transform 0.3s ease-in-out;
	-ms-transition: transform 0.3s ease-in-out;
	-o-transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
}

.home .button:hover {
	color: #131316;
}

.home .button:hover:before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.home .chevron-down {
	margin-top: 30px;
}

/**********************
NAVIGATION
***********************/

.navbar {
	min-height: 120px;
	margin-bottom: 0;
	background: #ffffff;
	border: none;
	border-bottom: 1px solid #ffe600;
	border-radius: 0;
}

.navbar-brand {
	min-width: 186px;
	height: auto;
	padding: 37px 15px;
}

.navbar-brand > .logo {
	width: 100%;
	max-width: 186px;
	max-height: 46px;
}

.navbar-default .navbar-nav {
	padding: 37px 0;
}

.navbar-default .navbar-collapse {
	border-color: #ffe600;
}

.navbar-default .navbar-nav>li {
	margin-left: 20px;
}

.navbar-default .navbar-nav>li:first-child {
	margin-left: 0;
}

.navbar-default .navbar-nav>li>a {
	padding: 12px 23px;
	background: #ffffff;
	color: #8e8e8e;
	border: 1px solid #ffffff;
	text-transform: uppercase;
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	-ms-transition: border-color 0.3s ease-in-out;
	-o-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	color: #131316;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	background: #ffffff;
	color: #131316;
	border: 1px solid #ffe600;
}

/**********************
NAVIGATION TOGGLE
***********************/

.navbar-default .navbar-toggle {
	background: transparent;
	margin: 40px 15px 0 0;
	padding: 16px 12px;
	border: none;
	border-radius: 0;
}

.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
	width: 22px;
	background: #131316;
	border-radius: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-toggle.collapsed .icon-bar {
	background: #8e8e8e;
}

.navbar-toggle .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	-moz-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	-o-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
	opacity: 0;
	filter: alpha(opacity=0);
}

.navbar-toggle .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 10% 90%;
	-moz-transform-origin: 10% 90%;
	-ms-transform-origin: 10% 90%;
	-o-transform-origin: 10% 90%;
	transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
}

.navbar-toggle.collapsed .icon-bar:nth-of-type(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}

.navbar-toggle.collapsed .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
}

/**********************
BOOTSTRAP AFFIX
***********************/

/*---------------------
fix for the change of 
main nav position
---------------------*/
.nav-container {
	min-height: 121px;
}

#main-navigation.affix {
	top: 0;
	left: 0;
	right: 0;
	z-index: 1030;
}

/**********************
ABOUT SECTION
***********************/
.about .box-container {
	margin-top: 120px;
	padding: 15px 0;
}

.about-box {
	padding: 30px 0;
}

.about-box > .title {
	padding: 12px 0;
	text-align: center;
}

.about-box > .title:before {
	content: '';
	margin: 0 16px 0 0;
	padding: 12px;
	border-right: 1px solid #ffe600;
	color: #ffe600;
	font-size: 25px;
	font-weight: 300;
}

.about-box > .title.-one:before {
	content: '01';
}

.about-box > .title.-two:before {
	content: '02';
}

.about-box > .title.-three:before {
	content: '03';
}

.about-box > .desc {
	margin-top: 45px;
	font-weight: 300;
	text-align: center;
}

/**********************
QUOTE SECTION
***********************/

.quote {
	min-height: 600px;
	padding: 250px 0;
	background: linear-gradient( rgba(255, 230, 0, 0.8), rgba(255, 230, 0, 0.8)), url('../img/about_bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.quote .h2 {
	font-weight: 300;
	font-style: italic;
	letter-spacing: 0.05em;
	line-height: 40px;
}

.quote .h3 {
	margin-top: 25px;
}

/**********************
PORTFOLIO SECTION
***********************/

.portfolio .box-container {
	margin-top: 90px;
}

.portfolio .portfolio-item {
	position: relative;
	margin-top: 30px;
	overflow: hidden;
	cursor: pointer;
}

.portfolio .portfolio-item:hover .overlay {
	top: 0;
}

.portfolio .portfolio-item > img {
	width: 100%;
}

.portfolio .portfolio-item > .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 100%;
	left: 0;
	background: rgba(255, 230, 0, 0.8);
	-webkit-transition: top 0.3s ease-in-out;
	-moz-transition: top 0.3s ease-in-out;
	-ms-transition: top 0.3s ease-in-out;
	-o-transition: top 0.3s ease-in-out;
	transition: top 0.3s ease-in-out;
}

.portfolio .portfolio-item .content {
	position: absolute;
	width: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.portfolio .portfolio-item .h2 {
	font-size: 20px;
}

.portfolio .portfolio-item .h3 {
	margin-top: 18px;
}

.portfolio > .load-more {
	margin-top: 30px;
	text-transform: uppercase;
	text-align: center;
}

/**********************
CLIENTS SECTION
***********************/

.clients {
	min-height: 500px;
	background: linear-gradient( rgba(19, 19, 22, 0.8), rgba(19, 19, 22, 0.8)), url('../img/clients_bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.clients .box-container {
	margin-top: 120px;
}

.clients .logo-box {
	position: relative;
	width: 100%;
	min-height: 90px;
	padding: 15px 0;
}

.clients .logo-box .client-logo {
	position: absolute;
	max-width: 100px;
	max-height: 60px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/**********************
CONTACT SECTION
***********************/

.contact .box-container {
	margin-top: 110px;
}

.contact-form .row {
	padding: 10px 0;
}

.contact-form input,
.contact-form textarea {
	display: block;
	width: 100%;
	padding: 13px 20px;
	background: #ffe600;
	color: #8e8e8e;
	border: 1px solid #ffe600;
	line-height: 1.5;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.contact-form input:focus,
.contact-form input:active,
.contact-form textarea:focus,
.contact-form textarea:active {
	outline: none;
	border: 1px solid #8e8e8e;
}

.contact-form textarea {
	resize: none;
}

.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}
.contact-form input::-moz-placeholder,
.contact-form textarea::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}
.contact-form input:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}
.contact-form input:-moz-placeholder,
.contact-form textarea:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}

.contact-form .btn-submit {
	width: 100%;
	padding: 10px;
	background: #131316;
	color: #ffe600;
	border-radius: 0;
	font-size: 20px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.contact-form .btn-submit:hover {
	color: #131316;
	background: transparent;
	border: 1px solid #131316;
}

.contact-form .btn-submit:active,
.contact-form .btn-submit:focus,
.contact-form .btn-submit:hover {
	outline: none;
	box-shadow: none;
}

/**********************
FOOTER SECTION
***********************/

.footer {
	width: 100%;
	min-height: 100px;
	padding: 18px 0;
	background: #131316;
}

.footer .copyright {
	display: block;
	padding: 22px 0;
}

.footer .social-list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	text-align: right;
}

.footer .social-list > li {
	display: inline-block;
	margin: 5px;
	font-size: 15px;
}

.footer .social-list > li > a {
	display: block;
	padding: 15px;
	border: 1px solid transparent;
	box-sizing: border-box;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.footer .social-list > li > a:hover {
	border: 1px solid #ffe600;
}

.footer .social-list > li > a:hover .icon {
	color: #ffe600;
}

/**********************
HELPER CLASSES
***********************/

.l-align-both {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.-yellow {
	color: #ffe600;
}

.-white {
	color: #ffffff;
}

.-black {
	color: #131316;
}

/**********************
RESPONSIVE
***********************/
@media only screen and (max-width: 991px) {
	/**********************
	NAVIGATION
	***********************/
	.navbar-default .navbar-nav>li {
		margin-left: 10px;
	}
	.navbar-default .navbar-nav>li>a {
		padding: 12px;
	}
	/**********************
	ABOUT SECTION
	***********************/
	.about-box > .title:before {
		display: block;
		max-width: 56px;
		margin: 0 auto 32px;
		border-right: none;
		border-bottom: 1px solid #ffe600;
	}
}


@media only screen and (max-width: 767px) {
	/**********************
	HOME SECTION
	***********************/
	.home .h3 {
		margin-top: 30px;
	}
	.home .h1 {
		margin-top: 15px;
	}
	.home .button {
		margin-top: 30px;
	}
	/**********************
	NAVIGATION
	***********************/
	.navbar-default .navbar-nav {
		margin: 15px 0;
		padding: 0;
	}
	.navbar-default .navbar-nav>li {
		margin-left: 0;
		margin-top: 10px;
	}
	.navbar-default .navbar-nav>li:first-child {
		margin-top: 0;
	}
	.navbar-default .navbar-nav>li>a {
		text-align: center;
	}
	/**********************
	CONTACT SECTION
	***********************/
	.contact-form .email {
		margin-top: 20px;
	}
	/**********************
	FOOTER SECTION
	***********************/
	.footer .copyright,
	.footer .social-list {
		text-align: center;
	}
}

@media only screen and (max-width: 479px) {
	/**********************
	HOME SECTION
	***********************/
	.home .h1 {
		font-size: 35px;
	}
	/**********************
	HELPER CLASSES
	***********************/
	.col-xxs-12 {
		width: 100%;
	}
}