
a:link,a:hover,a:visited,a:active {  color: #fff;  text-decoration: none;  }
body {  height: 100%; width: 100%; margin: 0; padding: 0;  background: #f1f1f5; }
.all {  position: fixed;  width: 0px;  overflow: visible;z-index:999999;  }
.box {  display: inline-block;  float: right;  clear: both;  }
.card {
  position: relative;
  left: 20px;
  padding: 16px 32px 16px 64px;
  margin: 8px;  
  x-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 8px 0 8px -8px rgba(0, 0, 0, 0.5);
  background: #fff;
  transition: all 0.3s ease-in-out 0.1s;       /* 過渡*/
}
.card:hover {
  position: relative;
  left: 100%;
  margin-left: -32px;
  box-shadow: 
    0 -8px 8px -8px rgba(0, 0, 0, 0.5),
    0 8px 8px -8px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
.card-content {
  color: #fff;
  font-family:微软雅黑, 'Droid Sans', sans-serif;
  font-size: 16px;
  white-space: nowrap;
}
.bg-01 { background: #4B7D74; }
.bg-02 { background: #8DC2BC; }
.bg-03 { background: #EDD6B4; }
.bg-04 { background: #BE7467; }
.bg-05 { background: #E2AE63; }

