.accordion
{	
	background-color:#FFF;
	border:4px solid #FFF;
}


.accordion .panel
{	
	background-color:#EEE;
}

.accordion
{
	width:1200px;
	margin:0px auto;
	list-style:none;
	padding:0px;
}


.accordion img, .accordion .caption
{
	position:absolute;
	left:-9999px;
}